# Dependencias
node_modules/

# Archivos de build y distribución
dist/

# Archivos de entorno - ¡MUY IMPORTANTE!
# Contienen tus claves secretas de Supabase. NUNCA los subas.
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de sistema operativo
.DS_Store